:root {
    --main-title-color: #ff0080;
    --ct-border-color: #e60004;
    --ct-bg-color: rgba(233, 186, 186, 0.4);
    --category-expand-bg-color-hover: rgba(220, 219, 168, 0.4);
    --mc-title-alternating-bg: rgba(239, 239, 239, 0.5);
}

@font-face{
    font-family: thefontimusing;
    src: url(../fonts/PlaypenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: thefontimusing;
    src: url(../fonts/PlaypenSans-SemiBold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: titleFont;
    src: url(../fonts/Cookie.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: titleFont;
    src: url(../fonts/Cookie.ttf);
    font-weight: bold;
    font-style: normal;
}